nav.side-menu
    h1
        | James
        br
        | Maddison

    ul
        li
            a(href="index.html") About Me
        li
            a(href="portfolio.html") Portfolio
            ul
                li
                    a(href="pmm.html") PMM
                li
                    a(href="magwiz.html") MagWiz
        li
            a(href="CV.html") CV

    ul
        li
            a(href="https://github.com/maddisoj")
                span(class="octicon octicon-mark-github")
                | GitHub
        li
            a(href="mailto:james@maddisoj.co.uk")
                span(class="octicon octicon-mail")
                | E-Mail
