doctype html
html(lang="en")
    include ../templates/head.jade

    body
        div(class="wrap")
            include ../templates/menu.jade

            main.content
                article.preview.clearfix
                    img(src="assets/images/imgen/preview.png")
                    a(href="imgen.html")
                        h1 Imgen
                    p
                        | An extensible, procedural image generator undertaken
                        | as a learning exercise.

                article.preview.clearfix
                    img(src="assets/images/pmm/preview.png")
                    a(href="pmm.html")
                        h1 PMM
                    p
                        | A permanent magnet modeller made as part of my
                        | degree's final year assessment.

                article.preview.clearfix
                    a(href="magwiz.html")
                        h1 MagWiz
                    p
                        | A program for determining the best magnet for
                        | a particular scenario. Developed on my year in
                        | industry as part of my degree.
